In [1]:
import pygwalker as pyg

In [4]:
import pandas as pd
import numpy as np

In [5]:
from faker import Faker
import pdb

np.random.seed(0)

fake = Faker()
date_range = pd.date_range(start='2022-01-01', end='2023-12-31', freq='D')
df = pd.DataFrame({
    'date': pd.to_datetime(np.random.choice(date_range, 10000)),
    'price': np.random.uniform(10, 100, 10000),
    'ID': np.random.choice(['A', 'B', 'C'], 10000)
    })

In [6]:
df

           date      price ID
0    2023-11-16  70.798009  C
1    2023-07-14  84.688545  A
2    2023-09-22  70.029829  C
3    2022-07-12  37.989199  A
4    2023-12-09  39.410754  B
...         ...        ... ..
9995 2022-08-02  97.584404  A
9996 2023-12-15  96.746247  A
9997 2022-11-27  20.749207  B
9998 2022-07-21  15.638357  B
9999 2022-10-21  62.482921  A

[10000 rows x 3 columns]

In [7]:
gwalker = pyg.walk(df)

Box(children=(HTML(value='<div id="ifr-pyg-0" style="height: auto">\n    <head>\n        <meta http-equiv="Con…