In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
from faker import Faker

In [2]:
np.random.seed(0)

fake = Faker()
date_range = pd.date_range(start='2022-01-01', end='2023-12-31', freq='D')
df = pd.DataFrame({
    'date': pd.to_datetime(np.random.choice(date_range, 10)),
    'price': np.random.uniform(10, 100, 10),
    'rate': np.random.uniform(10, 100, 10),
    'volume': np.random.uniform(10, 100, 10),
    'ID': np.random.choice(['A', 'B', 'C'], 10)
    })

In [3]:
df

        date      price       rate     volume ID
0 2023-11-16  90.259570  84.935786  95.020203  A
1 2023-07-14  96.729648  80.034108  56.966349  B
2 2023-09-22  44.509737  88.301093  47.319575  A
3 2022-07-12  81.255253  98.075651  33.810005  B
4 2023-12-09  57.600543  81.924271  79.681032  C
5 2022-12-26  61.124010  51.533143  51.053530  C
6 2022-01-10  93.303697  80.247626  61.159055  A
7 2023-12-25  16.393245  20.644698  11.691082  B
8 2022-10-05  17.841637  67.592892  65.587195  B
9 2023-08-23  11.819656  22.901796  65.088615  B

In [4]:
df_style = (
    df.style
    .format(precision=4, thousands=".", decimal=",")
    .highlight_max(["price"], color="blue")
    .highlight_min(["price"], color="red")
    .background_gradient(subset="rate", cmap="Greens")
    .bar('volume', color='lightblue', )  # align='zero'
    )

In [5]:
df_style

In [6]:
from reportlab.lib.pagesizes import letter
from reportlab.platypus import SimpleDocTemplate, Table, TableStyle
from reportlab.lib import colors

In [7]:
html = df_style.to_html()

In [10]:
pdf_file = "styled_dataframe.pdf"
doc = SimpleDocTemplate(pdf_file, pagesize=letter)
table = Table(pd.read_html(html)[0].values)
table.setStyle(TableStyle([('BACKGROUND', (0, 0), (-1, 0), colors.grey),
                           ('TEXTCOLOR', (0, 0), (-1, 0), colors.whitesmoke),
                           ('ALIGN', (0, 0), (-1, -1), 'CENTER'),
                           ('FONTNAME', (0, 0), (-1, 0), 'Helvetica-Bold'),
                           ('BOTTOMPADDING', (0, 0), (-1, 0), 12),
                           ('BACKGROUND', (0, 1), (-1, -1), colors.beige)]))

doc.build([table])

ValueError: <Table@0x258743AB340 unknown rows x unknown cols>... invalid data type